
.sidebar{
position: fixed;
    background-color: white;

    left: 0;
    bottom: 0;
    top: 50px;
    width: 80px;
    border-right-width: 1px;
    border-right-color: rgb(254, 249, 249);
    border-right-style: solid;
    border-top-right-radius: 12px;
    z-index: 200;
    padding-top: 5px;

}
.sidebar-link{

    

    height: 74px;

    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 180px;
    cursor: pointer;

    
   

}
.sidebar-link:hover{

    background-color: rgb(235, 235, 235);

}

.sidebar-link img{

    height: 28px;
    margin-bottom: 6px;
    
}

.sidebar-link div{

    font-family: Roboto,arial;
    font-size: 12px;
}

